<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="WindowsAPICodePack" version="1.1.0" targetFramework="net40" />
  <package id="WindowsAPICodePack-Core" version="1.1.1" targetFramework="net20" />
  <package id="WindowsAPICodePack-ExtendedLinguisticServices" version="1.1.1" targetFramework="net20" />
  <package id="WindowsAPICodePack-Sensors" version="1.1.1" targetFramework="net20" />
  <package id="WindowsAPICodePack-Shell" version="1.1.1" targetFramework="net20" />
  <package id="WindowsAPICodePack-ShellExtensions" version="1.1.1" targetFramework="net20" />
</packages>