<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="KeppyMIDIConverter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <runtime>
    <gcAllowVeryLargeObjects enabled="true"/>
  </runtime>  
  <userSettings>
    <KeppyMIDIConverter.Properties.Settings>
      <setting name="SettLocation" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="AudioEvents" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AudioFreq" serializeAs="String">
        <value>44100</value>
      </setting>
      <setting name="AutoUpdateCheck" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DisableFX" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LastExportFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="LastMIDIFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="LastSFFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="LoudMaxEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="NoteOff1" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OGGBitrate" serializeAs="String">
        <value>192</value>
      </setting>
      <setting name="ShowOldTimeInfo" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OverrideOGG" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Voices" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="Volume" serializeAs="String">
        <value>10000</value>
      </setting>
      <setting name="LangOverride" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SelectedLang" serializeAs="String">
        <value>en-US</value>
      </setting>
      <setting name="RTFPS" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="LastVSTFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="NoMoreDonation" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TempoOverride" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MigrateSettings" serializeAs="String">
        <value>True</value>
      </setting>
    </KeppyMIDIConverter.Properties.Settings>
  </userSettings>
</configuration>
