<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Costura.Fody" version="1.6.2" targetFramework="net461" developmentDependency="true" />
  <package id="Fody" version="2.4.6" targetFramework="net45" developmentDependency="true" />
  <package id="Resource.Embedder" version="1.2.5" targetFramework="net45" developmentDependency="true" />
  <package id="WindowsAPICodePack" version="1.1.0" targetFramework="net461" />
</packages>